body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

main {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(100,100,100,0.5);
    padding: 0.75rem 3rem 0.2rem 2.5rem;
    border-radius: 1rem;
    outline: 2px solid rgba(10, 10, 10, 0.5);
}
#collapsable {
    display: flex;
    flex-direction: column;
}
button {
    border: 2px solid rgba(10, 10, 10, 0.5);
    background-color: rgba(100,100,100,0.25);
    border-radius: 0.2rem;
}
button:hover {
    cursor: pointer;
}
td {
    padding-left: 1rem;
}
input {
    margin-bottom: -3px;
}
td span {
    min-width: 4ch;
    max-width: 4ch;
    display: inline-block;
}
.hiding {
    animation: mymove 0s ;
    animation-fill-mode: forwards;
}
.showing {
    animation: mymove 0s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}


@keyframes mymove {
    0% {
        opacity: 100%;
        display: inherit;
    }
    99% {
        opacity: 0%;
        display: inherit;
    }
    100% {
        opacity: 0%;
        display: none!important;
    }
}

#speedSelector {
    width: 7ch;
}